<!-- left-side navigation bar -->
<aside class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="/">
            <img src="img/logo.jpg" alt="Lingke">
        </a>
    </div>
    <!-- navigation bar -->
    <!-- TODO：切换active状态 -->
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item nav-item-has-subnav active">
                    <a href="javascript:void(0)"><i class="mdi mdi-home"></i> 基本资料</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="providers">供应商</a> </li>
                    </ul>
                    <ul class="nav nav-subnav">
                        <li> <a href="products">产品</a> </li>
                    </ul>
                    <ul class="nav nav-subnav">
                        <li> <a href="customers">客户</a> </li>
                    </ul>
                    <ul class="nav nav-subnav">
                        <li> <a href="channels">渠道ID</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 信息查询</a>

                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="popularization"><i class="mdi mdi-palette"></i> 推广管理</a>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="customer"><i class="mdi mdi-palette"></i> 留存用户</a>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="complain"><i class="mdi mdi-palette"></i> 投诉管理</a>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="income"><i class="mdi mdi-palette"></i> 结算收入</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>